services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/var/www/html
    ports:
      - "8080:80"
    environment:
      - APACHE_DOCUMENT_ROOT=/var/www/html/public
      # Xdebug configuration
      - XDEBUG_MODE=debug
      - XDEBUG_CONFIG=client_host=host.docker.internal client_port=9003
      - PHP_IDE_CONFIG=serverName=koa-la.docker.test
    extra_hosts:
      - "host.docker.internal:host-gateway"
  db:
    image: postgis/postgis:17-master
    environment:
      POSTGRES_USER: liipuser
      POSTGRES_PASSWORD: .Liip-123
      POSTGRES_DB: liip-db
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  mailhog:
    image: mailhog/mailhog:latest
    ports:
      - '8025:8025'

volumes:
  pgdata:
