services:
  app-dev:
    build:
      context: .
      dockerfile: Dockerfile
    profiles: ["dev"]
    volumes:
      - ./:/var/www/html
    ports:
      - "8080:80"
    environment:
      - APACHE_DOCUMENT_ROOT=/var/www/html/public
      # Logs
      - VERBOSE=true
      - DEBUG=true
      # Xdebug configuration  
      - XDEBUG_MODE=debug
      - XDEBUG_CONFIG=client_host=host.docker.internal client_port=9003
      - PHP_IDE_CONFIG=serverName=koa-la.docker.test
      # DB Config
      - DB_CONNECTION=psql
      - DB_HOST=db-dev
      - DB_PORT=5432
      - DB_DATABASE=liip-db
      - DB_USERNAME=liipuser
      - DB_PASSWORD=.Liip-123
    extra_hosts:
      - "host.docker.internal:host-gateway"
  
  app-prod:
    build:
      context: .
      dockerfile: Dockerfile
    profiles: ["prod"]
    # NO volumes here = not editable
    ports:
      - "8081:80"
    environment:
      - APACHE_DOCUMENT_ROOT=/var/www/html/public
      #Logs
      - VERBOSE=false
      - DEBUG=false
      # Xdebug configuration
      - XDEBUG_MODE=off
      # DB Config
      - DB_CONNECTION=psql
      - DB_HOST=db-prod
      - DB_PORT=5432
      - DB_DATABASE=liip-db
      - DB_USERNAME=liipuser
      - DB_PASSWORD=.Liip-123
    extra_hosts:
      - "host.docker.internal:host-gateway"
  
  db-dev:
    image: postgis/postgis:17-master
    environment:
      POSTGRES_USER: liipuser
      POSTGRES_PASSWORD: .Liip-123
      POSTGRES_DB: liip-db
    volumes:
      - pgdata-dev:/var/lib/postgresql/data

  db-prod:
    image: postgis/postgis:17-master
    environment:
      POSTGRES_USER: liipuser
      POSTGRES_PASSWORD: .Liip-123
      POSTGRES_DB: liip-db
    volumes:
      - pgdata-prod:/var/lib/postgresql/data

  mailhog:
    image: mailhog/mailhog:latest
    ports:
      - '8025:8025'

volumes:
  pgdata-dev:
  pgdata-prod:
