services:
  app-dev:
    build:
      context: .
      dockerfile: Dockerfile
    profiles: ["dev"]
    volumes:
      - ./:/var/www/html
    ports:
      - "8080:80"
    environment:
      - APACHE_DOCUMENT_ROOT=/var/www/html/public
      # Logs
      - VERBOSE=ON
      - DEBUG=ON
      # Xdebug configuration  
      - XDEBUG_MODE=debug
      - XDEBUG_CONFIG=client_host=host.docker.internal client_port=9003
      - PHP_IDE_CONFIG=serverName=koa-la.docker.test
    extra_hosts:
      - "host.docker.internal:host-gateway"
  
  app-prod:
    build:
      context: .
      dockerfile: Dockerfile
    profiles: ["prod"]
    # NO volumes here = not editable
    ports:
      - "8081:80"
    environment:
      - APACHE_DOCUMENT_ROOT=/var/www/html/public
      #Logs
      - VERBOSE=OFF
      - DEBUG=OFF
      # Xdebug configuration
      - XDEBUG_MODE=off
    extra_hosts:
      - "host.docker.internal:host-gateway"
  
  db:
    image: postgis/postgis:17-master
    environment:
      POSTGRES_USER: liipuser
      POSTGRES_PASSWORD: .Liip-123
      POSTGRES_DB: liip-db
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  mailhog:
    image: mailhog/mailhog:latest
    ports:
      - '8025:8025'

volumes:
  pgdata:
