services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/var/www/html
    ports:
      - "8080:80"
    environment:
      - APACHE_DOCUMENT_ROOT=/var/www/html/public
  db:
    image: pgvector/pgvector:pg17
    environment:
      POSTGRES_USER: liipuser
      POSTGRES_PASSWORD: .Liip-123
      POSTGRES_DB: liip-db
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
volumes:
  pgdata: