parameters:
    tipsOfTheDay: false
    treatPhpDocTypesAsCertain: false
    level: 8
    paths:
        - app/
        - resources/
        - routes/
    excludePaths:
        - app/Libraries/*

    bootstrapFiles:
        - vendor/autoload.php

