.filter-container {
    display: flex;
    gap: 150px;
    align-items: center;
}

.select-container {
    display: flex;
    gap: 50px;
}

.custom-select-wrapper {
    position: relative;
    display: inline-block;
}

.filter {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 10px 40px 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: white;
    cursor: pointer;
}

.custom-arrow {
    position: absolute;
    right: 15px;
    top: 50%;
    width: 10px;
    height: 6px;
    pointer-events: none;
    transform: translateY(-50%);
}

.font22 {
    font-size: 22px;
}

.card {
    width: 252px;
    height: 500px;
    background: white;
    border-radius: 30px;
    box-shadow: 15px 15px 30px #bebebe,
    -15px -15px 30px #ffffff;
    transition: 0.2s ease-in-out;
}

.img {
    width: 100%;
    height: 50%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    overflow: hidden;
}

.text {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.save .svg {
    transition: 0.2s ease-in-out;
    width: 15px;
    height: 15px;
}


.text .h3 {
    font-family: 'Lucida Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: black;
    text-align: center;
}

.text .p {
    font-family: 'Lucida Sans', sans-serif;
    color: #999999;
    font-size: 13px;
}

.icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.icon-box img {
    max-width: 24px;
    max-height: 24px;
    display: block;
    margin: 0 auto;
}

.icon-box .span {
    margin-left: 10px;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #9198e5;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
    padding: 20px;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.description {
    font-family: 'Lucida Sans', sans-serif;
    color: #999;
    font-size: 13px;
    line-height: 1.4em;
    margin-top: 10px;
}

.read-more {
    color: #9198e5;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    margin-left: 5px;
}

.text, .text-content, .description {
    white-space: normal;
    text-align: left;
}
