.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    width: 90%;
}

form .modal-btn {
    align-items: center;
}
