footer {
    padding-top: 1vh;
    padding-bottom: 1vw;
    padding-inline: 2vw;
}

footer img {
    width: 70px;
}

footer .title {
    font-size: var(--font-size-h3);
}

.footer-bar {
    width: 5px;
    height: 70px;
    background: #AEEA00;
    border-radius: 3px;
}

.footer-links-container {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    footer img {
        width: 100px;
    }

    footer .title {
        font-size: var(--font-size-h2);
    }

    .footer-bar {
        display: none;
    }

    #ul {
        display: flex;
        flex-direction: row;
        gap: 25px;
    }
}

@media screen and (min-width: 1024px) {
    footer {
        justify-content: space-between;
        align-items: center;
    }

    footer img {
        width: 120px;
    }

    footer .title {
        font-size: var(--font-size-h1);
    }
    .footer-bar {
        display: none;
    }

    #ul {
        display: flex;
        flex-direction: row;
        gap: 25px;
    }

    .footer-links-container {
        margin-right: 18.6vh;
    }
}
