@media screen and (max-width: 375px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
            width: 25%;
        }

        .title {
            font-size: var(--font-size-xl);
        }
    }

    footer .title-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    footer .left-footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    footer .span-container {
        text-align: center;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .footer-bar {
        width: 200px;
        height: 5px;
        background: #AEEA00;
        border-radius: 3px;
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 768px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 1rem;
        width: 100%;
    }

    footer img {
        width: 25%;
    }

    .img-container{
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .img-container .logo {
        width: 50px;
    }

    .footer-bar {
        width: 250px;
        height: 5px;
        background: #AEEA00;
        border-radius: 3px;
        margin: 0;
    }

    .footer-links ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .span-container {
        margin-left: 2rem;
        text-align: center;
    }
}

@media screen and (min-width: 1024px) {

    footer {
        padding: 1rem;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        width: 100%;
    }

    .img-container .logo {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 40px;
    }

    footer img {
        width: 50px;
    }

    .img-container {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .footer-bar {
        width: 7px;
        height: 70px;
        background: #AEEA00;
        border-radius: 3px;
        margin: 0;
    }

    .footer-links ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .span-container {
        text-align: right;
        display: flex;
        justify-content: flex-end;
        flex: 1;
    }
}
