header {
    justify-content: space-between;
    align-items: center;
    padding-top: 1vh;
    padding-bottom: 1vw;
    padding-inline: 2vw;
}

header .title {
    font-size: var(--font-size-h3);
}

header img {
    width: 70px;
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    header .title {
        font-size: var(--font-size-h2);
    }

    header img {
        width: 100px;
    }
}

@media screen and (min-width: 1024px) {
    header {
        justify-content: space-between;
        align-items: center;
    }

    header .title {
        font-size: var(--font-size-h1);
    }

    header img {
        width: 120px;
    }
}

