@media screen and (min-width: 768px) and (max-width: 1024px) {
    .icon-box-hp img {
        width: 35px;
        height: 35px;
    }

    .sub_title {
        font-size: var(--font-size-h2);
    }
}

@media screen and (min-width: 1024px) {
    .flex_col {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .sub_title {
        font-size: var(--font-size-h2);
    }
}
