@import url("main.css");

/*.restaurant-suggestion*/
/*.description*/
/*.title-description*/
/*.description-text*/
/*.option-restaurant*/
/*.section-discover*/
/*.discover-title*/
    /*Title*/
.title {
display: flex;

}
.restaurant-suggestion {
}
.restaurant-name {
    font-weight: bold;
}

/*@media screen and (min-width: 768px) {*/

/*}*/
/*@media screen and (min-width: 1024px) {*/

/*}*/

/*Discover Button*/

.discover-button {
    font: inherit;
    color: white;
    background: black;
    appearance: none;
    border-radius: 5px;
    cursor: pointer;
    padding-inline: 7vw;
    height: 3vh;
    align-self: center;
}

@media screen and (min-width: 768px) {
    .discover-button {
    }

    height: 5vw;
    padding-inline: 4vw;
    font-size: 1rem;
}

@media screen and (min-width: 1024px) {
    .login-button {
        height: 3vw;
        padding-inline: 3vw;
    }
}


