.title {
    text-align: center;
}

.keypoints-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.hero-container {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 375px) {
    body, html {
        width: fit-content;
    }

    .hero-container img {
        width: 90%;
    }
}

@media screen and (min-width: 768px) {
    .hero-container img {
        width: 75vw ! important;
        height: 50vw ! important;
    }
}
