.keypoints {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 1024px) {
    .keypoints {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}
