.log-button,
.modal-btn {
    padding-inline: 2.25vw;
    padding-block: 1vh;
    font-size: 0.5vw;
    background: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-weight: normal;
    border: none;
}

.modal-content,
.modal-backdrop {
    opacity: 0;
    position: fixed;
    padding: 15px;
    padding-top: 50px;
    z-index: -1;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.modal-content {
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    height: 550px;
    max-height: 98%;
    width: 70%;
    max-width: 600px;
    text-align: center;
    transform: translateX(125%);
}

.modal-backdrop {
    left: 0;
    top: 0;
    height: 100%;
    height: 100vh;
    width: 100%;
    width: 100vw;
    transform: scale(0);
}
#modal-toggle {
    display: none;
}

@media (max-width: 600px) {
    #modal-toggle:checked ~ .modal-backdrop {
        opacity: 0;
    }

    .modal-content {
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
    }
}

#modal-toggle:checked ~ .modal-backdrop {
    opacity: 0.5;
    background-color: rgba(174, 234, 0, 1);
    z-index: 998;
    transform: scale(1);
}

#modal-toggle:checked ~ .modal-content {
    opacity: 1;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    pointer-events: auto;
    cursor: auto;
    z-index: 999;
    transform: translateX(0%);
}
.modal-close-btn {
    margin-top: 5px;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
}
.modal-close-btn svg {
    transition: 0.2s;
}
.modal-close-btn line {
    stroke-width: 5px;
    stroke: #AEEA00;
}
.modal-close-btn:hover svg {
    transform: rotate(90deg);
}

.tabs {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}
.tabs > .radio {
    display: none;
}
.tabs > .radio:checked + .table + .tabs-content {
    display: block;
}

.tabs .tabs-content {
    width: 100%;
    display: none;
}

.tabs > .table {
    order: -1;
    flex-basis: 50%;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 20px 0;
    text-align: center;
    border-bottom: solid #AEEA00 5px;
    color: #AEEA00;
    cursor: pointer;
}

.tabs > .table span {
    font-weight: 600;
}
.tabs > .table:hover {
    color: #AEEA00;
    background: rgba(174, 234, 0, 0.2);
}
.tabs > .radio:checked + .table {
    color: #fff;
    background: #AEEA00;
    cursor: auto;
}
.tabs > .radio:checked + .table span {
    display: inline-block;
    font-weight: 500;
    transform: scale(1.2);
    transition: 0.1s;
}

.tabs > .tabs-content .login_socnet {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.tabs > .tabs-content a {
    margin: 20px;
    margin-bottom: 0;
    width: 100%;
    font-size: 60px;
    text-decoration: none;
    transition: 0.2s;
}
.tabs > .tabs-content a:hover {
    transform: scale(1.1);
    filter: drop-shadow(1px 3px 2px rgba(0, 0, 0, 0.2));
}

.tabs > .tabs-content {
    color: #AEEA00;
}
.tabs > .tabs-content form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.tabs > .tabs-content form input {
    padding: 10px;
    margin: 15px 0;
    border: none;
    border-bottom: solid 1px #AEEA00;
    font-size: 18px;
    letter-spacing: 1px;
    transition: 0.1s;
}
.tabs > .tabs-content form input:focus {
    transform: translateX(10px);
    outline: none;
}
.tabs > .tabs-content input[type="submit"] {
    padding: 15px 0;
    width: 100%;
    background: #AEEA00;
    color: #fff;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
.tabs > .tabs-content input[type="submit"]:focus {
    transform: none;
}

.tabs > .tabs-content .forgot-password label {
    margin: 0 auto;
    width: 50%;
    color: #AEEA00;
    text-decoration: none;
    font-size: 12px;
    line-height: 1.5;
}
.tabs > .tabs-content .forgot-password label:hover {
    text-decoration: underline;
}
