@import url('cards.css');
@import url("header-footer.css");
@import url("login.css");
@import url("hp.css");
@import url("teaser.css");
@import url('https://fonts.googleapis.com/css?family=Archivo');
@import url('normalize.css');


* {
    box-sizing: border-box;
    border: 0;
    vertical-align: baseline;
    font-family: 'Archivo', sans-serif;
}

html {
    line-height: 1;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    text-align: justify;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2vw;
}




ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}


a {
    text-decoration: none;
    color: inherit;

}
