@import url('header.css');
@import url('footer.css');
@import url('login.css');
@import url('hamburger.css');
@import url('homepage.css');
@import url('cards.css');
@import url('keypoints.css');
@import url('contribution.css');
@import url('normalize.css');
@import url('map.css');

:root {
    /* Base Font Size */
    font-size: 16px;

    --font-size-xs: 0.75rem; /* 12px */
    --font-size-sm: 0.875rem; /* 14px */
    --font-size-base: 1rem; /* 16px */
    --font-size-lg: 1.125rem; /* 18px */
    --font-size-xl: 1.25rem; /* 20px */
    --font-size-2xl: 1.5rem; /* 24px */
    --font-size-3xl: 1.875rem; /* 30px */
    --font-size-4xl: 2.25rem; /* 36px */
    --font-size-5xl: 3rem; /* 48px */

    font-family: 'Archivo', sans-serif;
}

html {
    line-height: 1;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    text-align: justify;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2vw;
}

ol, ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.center {
    text-align: center;
}

main {
    flex: 1;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html {
    margin: 0;
}
