@import url('normalize.css');
@import url('theme.css');
@import url('components/btn_primary.css');
@import url('components/nav_bar.css');
@import url('components/img_containers.css');
@import url('components/titles.css');
@import url('components/forms.css');
@import url('components/cards.css');
@import url('components/login.css');
@import url('components/hamburger.css');
@import url('components/team-card.css');
@import url('header.css');
@import url('footer.css');
@import url('homepage.css');
@import url('keypoints.css');
@import url('contribution.css');
@import url('normalize.css');
@import url('map.css');



html {
    line-height: 1;
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    line-height: 1;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    text-align: justify;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2vw;
}

ol, ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.center {
    text-align: center;
}

