/** Reset CSS **/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
}

html {
    line-height: 1;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    text-align: justify;
    display: flex;
    flex: 1;
}

.title-container {
    display: flex;
    align-items: center;
}

.title {
    font-size: 1.5vw;
    margin-left: 1.5vw;
    font-weight: lighter;
    margin-block: 0;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
}


a {
    text-decoration: none;
    color: inherit;

}

button, input, textarea, select {
    font: inherit;
    color: white;
    background: black;
    appearance: none;
    border-radius: 5px;
    cursor: pointer;
}



img, svg {
    width: 100%;
    height: 50%;
}
.logo{
    max-width: 4vh;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 3.5rem;
    padding-inline: 4rem;
    .logo {
        width: 2vh;
    }

}

.nav-bar {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    a {
        font-size: 0.5vw;
    }
    li {
        margin-inline: 2.5vh;
    }
    ul{
        height: auto;
    }

}

.nav-bar-link{
    display: flex;
    flex-direction: row;
    align-items: center;

}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-block: 5rem;
    padding-inline: 4rem;

    a {
        font-size: 0.75vw;
        font-weight: 1000;
        padding: 0;
        margin: 0;
    }
    li {
        margin-inline: 2.5vh;

    }

}

.footer-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    color: #000000;
    font-size: 0.75vw;
}

.log-button {
    padding-inline: 2.25vw;
    padding-block: 1vh;
    font-size: 0.5vw;
}

/*table {*/
/*    border-collapse: collapse;*/
/*    border-spacing: 0;*/
/*}*/

/*:focus {*/
/*    outline: 0;*/
/*}*/
