<!--<?php-->

<!--?>-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Footer</title>
    <link rel="stylesheet" href="../../public/assets/css/main.css">
</head>
<body>
<main>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut placerat tristique dui ut sagittis.
        Mauris eget placerat diam, eget interdum magna. Curabitur libero nunc, pharetra nec dapibus
        vitae, semper eu eros. In lobortis dapibus quam. Vestibulum lobortis, mi eget interdum iaculis
        , metus sem tincidunt nisl, vitae dictum neque lacus a neque. Praesent aliquet diam mauris,
        in vestibulum turpis mollis id. Duis luctus tempor est, feugiat ullamcorper nibh maximus eu.
        Maecenas finibus suscipit erat, ut fringilla dui semper eu.
        Pellentesque finibus et massa non varius. Donec lobortis fringilla ligula, eu tincidunt nibh
        vehicula ultricies. Phasellus ac mollis eros. Suspendisse in velit maximus, bibendum sapien at,
        lobortis augue. Morbi eget neque massa. Nam euismod in nulla et accumsan. Vestibulum sit amet
    </p>
</main>
<footer>
    <div class="title-container">
        <img class="logo" src="../img/Pasted%20image.png" alt="logo">
        <h1><a class="title" href="../views/404.php">TTE</a></h1>
    </div>
    <ul class="footer-bar">
        <li><a href=../views/footer/contact.html>Contact Us</a></li>
        <li><a href=../views/footer/team.html>Team</a></li>
        <li><a href=../views/footer/compagny.html>Compagny</a></li>
    </ul>
    <span>© Liip</span>

</footer>
</body>
</html>
