.favorite {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.keypoints {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    .favorite {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
