.contribute-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
    width: 100%;
}

.contribute-form select {
    width: 25%;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    #filterForm {
        display: flex;
        flex-direction: row;
    }
}
