.img-container img {
    width: 300px;
    height: 300px;
}

.icon-box-hp img {
    width: 20px;
    height: 20px;
}

.icon-box-card img {
    width: 40px;
    height: 40px;
}

.icon-box-hp {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .img-container img {
        width: 600px;
        height: 400px;
    }

    .icon-box-hp {
        display: flex;
        flex-direction: row;
    }

    .icon-box-hp .text-center{
        display: flex;
        align-items: center;
        padding: var(--spacing-medium);
    }
}

@media screen and (min-width: 1024px) {
    .img-container img {
        width: 1000px;
        height: 500px;
    }

    .icon-box-hp img {
        width: 35px;
        height: 35px;
    }

    .icon-box-hp {
        display: flex;
        flex-direction: row;
    }
}
