.modal-review {
    position: fixed;
    z-index: 1000;
    left: 0; top: 0;
    width: 100%; height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.4);
}
.modal-content-review {
    background: #fff;
    padding: 2em;
    border-radius: 8px;
    min-width: 300px;
    position: relative;
}
.modal-review-close {
    position: absolute;
    right: 1em;
    top: 1em;
    font-size: 1.5em;
    cursor: pointer;
}
