.container {
    max-width: 750px;
    margin: 4rem auto;

    .card-team {
        box-shadow: 15px 15px 30px #bebebe;
        width: 14rem;
        height: 22rem;
        border-radius: 8px;
        overflow: hidden;

        .card-img {
            perspective: 1000px;

            img {
                width: 100%;
                height: 17rem;
                object-fit: cover;
                object-position: top;
            }
        }
        .card-body {
            padding: 1rem;

            h3 {
                margin: 0;
            }

            small {
                opacity: 0.6;
                margin-bottom: 0;
            }
        }
    }
}
